.main-div {
  background-image: url("https://wallpapercave.com/wp/wp2999756.jpg");
  
  
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: center;
  h3 {
    font-size: 60px;
    cursor: pointer;
  }
  h1 {
    font-size: 90px;
    cursor: pointer;
  }
  p {
    font-size: 30px;
    cursor: pointer;
  }
}
